__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

venv/
.venv/
env/
.env/

.pytest_cache/
.cache/

.idea/
.vscode/
*.iml

.ipynb_checkpoints/

.DS_Store
Thumbs.db

HW_2_OOP_Testing_Git.ipynb